
HW17/Android/MotorControl/.idea/caches/build_file_checksums.ser
HW17/Android/MotorControl/.idea/codeStyles/Project.xml
HW17/Android/MotorControl/.idea/gradle.xml
HW17/Android/MotorControl/.idea/misc.xml
HW17/Android/MotorControl/.idea/runConfigurations.xml
HW17/Android/MotorControl/app/build.gradle
HW17/Android/MotorControl/app/libs/classes.jar
HW17/Android/MotorControl/app/proguard-rules.pro
HW17/Android/MotorControl/app/src/androidTest/java/com/example/yi/motorcontrol/ExampleInstrumentedTest.java
HW17/Android/MotorControl/app/src/main/AndroidManifest.xml
HW17/Android/MotorControl/app/src/main/java/com/example/yi/motorcontrol/MainActivity.java
HW17/Android/MotorControl/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
HW17/Android/MotorControl/app/src/main/res/drawable/ic_launcher_background.xml
HW17/Android/MotorControl/app/src/main/res/layout/activity_main.xml
HW17/Android/MotorControl/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
HW17/Android/MotorControl/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
HW17/Android/MotorControl/app/src/main/res/mipmap-hdpi/ic_launcher.png
HW17/Android/MotorControl/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
HW17/Android/MotorControl/app/src/main/res/mipmap-mdpi/ic_launcher.png
HW17/Android/MotorControl/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
HW17/Android/MotorControl/app/src/main/res/mipmap-xhdpi/ic_launcher.png
HW17/Android/MotorControl/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
HW17/Android/MotorControl/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
HW17/Android/MotorControl/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
HW17/Android/MotorControl/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
HW17/Android/MotorControl/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
HW17/Android/MotorControl/app/src/main/res/values/colors.xml
HW17/Android/MotorControl/app/src/main/res/values/strings.xml
HW17/Android/MotorControl/app/src/main/res/values/styles.xml
HW17/Android/MotorControl/app/src/main/res/xml/device_filter.xml
HW17/Android/MotorControl/app/src/test/java/com/example/yi/motorcontrol/ExampleUnitTest.java
HW17/Android/MotorControl/build.gradle
HW17/Android/MotorControl/gradle.properties
HW17/Android/MotorControl/gradle/wrapper/gradle-wrapper.jar
HW17/Android/MotorControl/gradle/wrapper/gradle-wrapper.properties
HW17/Android/MotorControl/gradlew
HW17/Android/MotorControl/gradlew.bat
HW17/Android/MotorControl/settings.gradle
